html {
    background-color: #252526;
    color: aliceblue;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(122, 90, 90);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .player {
    height: 22px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: aliceblue;
    background-color: rgb(247, 134, 134);
    display: block;
  }