<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="device-width, initial-scale=1.0">

        <title>Bughouse</title>

        <!-- Define host path -->
        <script>let HOST_PATH = window.location.protocol + '//' + window.location.host + '/';</script>

        <!-- Import style -->
        <link rel="stylesheet" href="./game.css">

        <!-- Import chess.js library -->
        <script src="../modules/chess.js/chess.js"></script> <!-- TODO: Change this to min later -->

        <!-- Import chessboard.js library & jquery -->
        <link rel="stylesheet" href="../modules/chessboardjs-1.0.0/css/chessboard-1.0.0.css"> <!-- TODO: Change this to min later -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="../modules/chessboardjs-1.0.0/js/chessboard-1.0.0.js"></script> <!-- TODO: Change this to min later -->

        <!-- Import sport class -->
        <script src="./sport.js"></script>

        <script src="./sidebar.js"></script>
        <script src="./stopwatch.js"></script>

    </head>

    <body>
        <!-- Side navigation -->
        <div class="sidebar" id="mySidebar"> <!--TODO: add title to sidebar -->
            <h4>players</h4>
        </div>

        <div class="main" id="main_page">
            <!-- define chessboard element -->
            <div id="myBoard" style="width: 400px"></div>
            <label>Status:</label>
            <div id="status"></div>
            <label>FEN:</label>
            <div id="fen"></div>
            <label>PGN:</label>
            <div id="pgn"></div>

            <!-- admin buttons -->
            <button id="start_game">start</button>
            <button id="reset_game">reset</button>

            <button id="resign_game">resign</button>
            <button id="backward_button">backward</button>
            <button id="forward_button">forward</button>

            <div id="white_clock">white timer: </div>
            <div id="black_clock">black timer: </div>
        </div>

        <!-- get data from server -->
        <script type="text/javascript">
            let myUsername = '<%-username%>'
            let data = '<%-JSON.stringify(data)%>'
            data = JSON.parse(data)
            let time_white = '<%-white_time%>'
            let time_black = '<%-black_time%>'
        </script>

        <!-- import socket lib -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- import game logic -->
        <script src="./game.js"></script>
    </body>

</html>