html {background-color: #181818}

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./background.jpg);
    background-size: cover;
}

.container {
    width: 390px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align: center;
    margin: auto;
}

.title {
    text-align: center;
    position: relative;
    top: -100px;
    font-size: 83px;
    -webkit-text-stroke: 2px #06e2ff;
    color: black;
    font-family: 'Saira Condensed', sans-serif;
    display: inline-block;
}

.logo_container {
    text-align: center;
    z-index: 1;
    position: relative;
    bottom: 20px;
}

.logo {
    width:150px;
    height:150px;
    z-index: 2;
}

.input_container {
    width: 390px;
    height: 170px;
    position: relative;
    top: -30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color: black;
    padding: 1rem;
    border-radius: 12px;
    border: 4px solid black;
    display: inline-block;
    z-index: 0;
}

.form_input {
    width: 254px;
    height: 30px;
    font-size: 15px;
    color: black;
    padding: 7px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    margin-top: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    border: white;
}

.form_input::placeholder {
    color: rgb(160, 132, 132);
}

.form_input:focus {
    background-color: white;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #06e2ff;
}

.input_button_divider {
    height: 10px;
}

.button {
    width: 254px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #0086d3;
    border-radius: 5px;
    border: #0086d3;
}

.button:hover {
    width: 262px;
    height: 34px;
    transition: 0.3s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #06e2ff;
}

.button:active {
    background-color: #06e2ff;
}

.buttons_divider {
    height: 5px;
}

#join_button {
    opacity: 1;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
}

#join_button.hide {
    opacity: 0;
}

#join_container {
    width: 254px;
    display: flex;
    margin: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

#join_container.hide {
    opacity: 0;
}
  
#game_id_input {
    width: 214px;
    height: 30px;
    font-size: 14px;
    color: black;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border:0;
    outline:0;
}

#game_id_input:focus {
    outline-color: transparent;
    outline-style: solid;
    -moz-box-shadow:    inset 0 0 5px #06e2ff;
    -webkit-box-shadow: inset 0 0 5px #06e2ff;
    box-shadow:         inset 0 0 5px #06e2ff;
}

#go_button {
    width: 40px;
    height: 30px;
    line-height: 30px;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
    /* flex: none; */
    border-radius: 0px 5px 5px 0px;
    background-color: #0086d3;
    border:0;
    outline:0;
}

#go_button:hover {
    background-color: #0072b4;
    transition: 0.3s;
}

#go_button:focus {
    background-color: #06e2ff;
}

.color-white {
    color: white;
}
