* {
  user-select: none; /* prevent highlighting */
}

html {
    background-color: black;
    color: white;
    overflow-x: hidden; /* disable horizontal scroll */
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content_container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/*************  GAME CONTAINER  *************/

.main {
  /* width: 90vw; */
  width: calc(100vw - 192px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boards_container {
  display: flex;
  column-gap: 0.7vw;
}

.board_container {
  width: 40vw;
  padding: 20px 0 30px 30px; /* top right bottom left */
  box-sizing: border-box; /* TODO: stuff that is the same everywhere should be put in one place */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 13px;
  background: #56575a;
}

.board_wrapper {
  display: flex;
  column-gap: 5px;
  width: 100%;
}

.board {
  width: 83%;
}

.username_top-007jb {
  width: 95%;
  height: 42%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-color:#eaeaea;
  color: black;
  font-size:0.9vw;
  border-radius:4px;
  position: relative;
  left: 2.5%;
  float: left;
  top: 53%;
  padding-top: 4%;
  z-index: 2;
}

.username_bottom-987lp {
  width: 95%;
  height: 42%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-color:#eaeaea;
  color: black;
  font-size:0.9vw;
  border-radius:4px;
  position: relative;
  left: 2.5%;
  float: left;
  top: 10%;
  padding-top: 4%;
  z-index: 2;
}

.user_text {
  text-align: center;
  line-height: 18px;
  border: 0;
  outline: 0;
}

.username_x {
  color: white;
  position: absolute;
  font-size: 0.7vw;
  top: 4%;
  right: 6%;
}

.times {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}

.clock_display {
  width: 5em;
  height: 1.5em;
  text-align: center;
  font-size: 20px;
  background-color: rgb(170, 170, 170);
  border-radius: 3px;
  border: 0;
  outline: 0;
}

.clock_display.working {
  background-color: white;
}

.controllers_container {
  /* background-color: green; */
  width: 83%;
  height: 7%;
  /* -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box; */
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 10px;
}

.backward_button {
  margin-right: 0.2rem;
}

#start_game {
  width: 5rem;
  height: 2.3rem;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: solid white;
  border-radius: 15%;
}

#start_game:disabled {
  color: #9d9d9d;
  border: solid #9d9d9d;
}

#start_game:hover {
  color: #c1baff;
  border: solid #c1baff;
}

#start_game:active {
  color: #8e81ff;
  border: solid #8e81ff;
}

#reset_game {
  width: 5rem;
  height: 2.3rem;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: solid white;
  border-radius: 15%;
  margin-left: auto;
}

#reset_game:hover {
  color: #c1baff;
  border: solid #c1baff;
}

#reset_game:active {
  color: #8e81ff;
  border: solid #8e81ff;
}

.forward_button {
  margin-right: 1rem;
}

.resign_button {
  margin-left: auto;
}

.pgn_button {
  font-weight: bold;
}

.controller {
  font-size: 1.8rem;
}

.controller:hover {
  color: rgb(201, 201, 201);
}

.controller:active {
  color: rgb(0, 0, 0);
}

.pgn {
  display: none; /* should be a button to display it in place of a board */
  width: 384px;
  height: 70px;
  border-radius: 5px;
  color: white;
  background-color: rgb(75, 0, 0);
  line-height: 20px;
  resize: none;
  border: 1px solid black;  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.pgn::-webkit-scrollbar {
  display: none; /* Chrome */
}

/*************  SIDEBAR  *************/

.side_container {
  min-height: 100vh;
  height: 100vh;
  /* width: 10vw; */
  width: 192px;
  position: fixed; 
  top: 0; 
  right: 0;
}

.sidebar {
  height: 87%;
  width: 100%;
  background-color: rgb(122, 90, 90);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 7px 7px 0px 0px;
}

.player {
  height: 5%;
  width: 100%;
  margin-bottom: 1px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  overflow: hidden;
  color: white;
  background-color: rgb(247, 134, 134);
  border-radius: 5px;
  border: solid 1px white;
  padding-top: 4%;
}

.dragged_player {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  text-align: center;
  text-decoration: none;
  font-size: 0.9vw;
  border-radius: 5px;
  border: solid 1px white;
  color: white;
  background-color: black;
  padding-top: 0.2%;
  z-index: 2;
}

/* TODO: needs fixing, won't work on resize  */
.screen_dimer {
  position: fixed;
  /* for IE */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  z-index: 1;
}

.id_container {
  height: 13%;
  width: 100%;
  background-color: rgb(102, 72, 72);
  overflow-x: hidden;
  border-radius: 0px 0px 7px 7px;
}

.upper_margin {
  height: 20%;
}

.invite_text {
  font-size: 0.9vw;
  margin-left: 12%; 
}

.id_input_container {
  height: 30%;
  width: 85%;
  display: flex;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-left: 7.5%;
}

#text_game_id {
  height: 100%;
  width: 80.5%;
  font-size: 1.2rem;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-radius: 5px 0px 0px 5px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: black;
  outline:0;
}

#copy_button {
  height: 100%;
  width: 19.5%;
  text-align: center;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-radius: 0px 5px 5px 0px;
  background-color: black;
  border: 0;
  outline:0;
}

#copy_button:hover {
  background-color: rgba(0, 0, 0, 0.432);
}

#copy_button:active {
  background-color: rgba(0, 0, 0, 0.253);
}

#copy_icon {
  margin-top: 40%;
  font-size: 0.7vw;
}

/*************  MODAL  *************/

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 5;
}

/* Modal Content */
.modal-content {
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 15%;
  height: 7%;
  border-radius: 5px;
  z-index: inherit;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*************  META  *************/

.color-white {
  color: white;
}

.data {
  display: none;
}

/*************  ON RESIZE  *************/

/* @media screen and (min-wid) {
  
} */

@media screen and (max-width: 1600px) {
  #boards_container {
    flex-direction: column;
    row-gap: 2vh;
  }
  .board_container {
    width: 800px;
  }
  .board_container.left {
    margin-top: 4vh;
  }
  .board_container.right {
    margin-bottom: 4vh;
  }
}

@media screen and (max-width: 1000px) and (min-width: 450px) {
  .main {
    width: 80vw;
  }
  .board_container {
    width: 75vw;
  }
  .side_container {
    width: 20vw;
  }
}

@media screen and (max-width: 450px) {
  .board_container {
    width: 360px;
  }
  .side_container {
    width: 90px;
  }
}