<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="device-width, initial-scale=1.0">

        <title>Bughouse</title>

        <!-- Define host path -->
        <script src="path.js"></script>

        <!-- Import style -->
        <link rel="stylesheet" href="./main_page.css">

        <!-- Import chess.js library -->
        <script src="../modules/chess.js/chess.js"></script> <!-- TODO: Change this to min later -->

        <!-- import jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
                crossorigin="anonymous">
        </script>

        <!-- Import chessboard.js library -->
        <link rel="stylesheet" href="../modules/chessboardjs-1.0.0/css/chessboard-1.0.0.css"> <!-- TODO: Change this to min later -->
        <script src="../modules/chessboardjs-1.0.0/js/chessboard-1.0.0.js"></script> <!-- TODO: Change this to min later -->

        <!-- TODO: after minification generate hashes and use SRI for your own files -->

        <!-- Import game class -->
        <script src="./game.js"></script>

        <script src="./players.js"></script>
        <script src="./stopwatch.js"></script>

    </head>

    <body>
        <!-- Side navigation -->
        <div class="sidebar" id="mySidebar"> <!--TODO: add title to sidebar -->
            <h4>players</h4>
        </div>

        <div class="main" id="main_page">
            <!-- define chessboard element -->
            <div id="myBoard" class="board"></div>
            <label>Status:</label>
            <div id="status"></div>
            <label>FEN:</label>
            <div id="fen"></div>
            <label>PGN:</label>
            <div id="pgn"></div>

            <!-- admin buttons -->
            <button id="start_game">start</button>
            <button id="reset_game">reset</button>

            <button id="resign_game">resign</button>
            <button id="backward_button">backward</button>
            <button id="forward_button">forward</button>

            <div id="white_clock">white timer: </div>
            <div id="black_clock">black timer: </div>
        </div>

        <!-- insert hidden data elements, so js file can retrieve it -->
        <div id="data_username" class="data" data-value='<%-username%>'></div>
        <div id="data_data" class="data" data-value='<%-JSON.stringify(data)%>'></div>
        <div id="data_white_time" class="data" data-value='<%-white_time%>'></div>
        <div id="data_black_time" class="data" data-value='<%-black_time%>'></div>

        <!-- import socket lib -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- import main page logic -->
        <script src="./main_page.js"></script>
    </body>

</html>