html {
    background-color: #252526;
    color: aliceblue;
    user-select: none; /* prevent highlighting */
    overflow-x: hidden; /* disable horizontal scroll */
}

.container {
  display: inline-block;
  width: 500px;
  max-width: 500px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #494950;
}

.buttons {
  margin: 1rem;
}

.board_wrapper {
  position: relative;
}

.board {
  width: 400px;
}

.time1 {
  width: 40px;
  position: absolute;
  top: 55px;
  right: 50px;
}

.time2 {
  width: 40px;
  position: absolute;
  bottom: 55px;
  right: 50px;
}

.sidebar {
  height: 87%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(122, 90, 90);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.player {
  height: 22px;
  width: 160px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: aliceblue;
  background-color: rgb(247, 134, 134);
  display: block;
}

.id {
  height: 13%;
  width: 160px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(102, 72, 72);
  overflow-x: hidden;
}

.text_id {
  height: 17px;
  width: 100px;
  margin-top: 2px;
  margin-left: 25px;
}

.data {
  display: none;
}

  